<div class="summary-card">
  <h5>You have no planned trips.</h5>
  <p>Plan an adventure today ✈️</p>
  <%= link_to "Create a new trip", new_user_trip_path(current_user), class:"teal-button text-decoration-none" %>
</div>
