.hero-header {
  font-size: 48px;
}

.day-text {
  color: #a06a56
}

.month-text {
  color: #006D77;
}

.link-text {
  color: black;
  text-decoration: none;
}

.link-pencil-icon {
  color: #E29578;
  text-decoration: none;
}

.link-teal-icon {
  color: #68a19c;
  text-decoration: none;
}
